html {
  font-size: 10px;
  background: url(https://images.unsplash.com/photo-1505765875074-b5e4ab9b44aa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a25219b857449ed0252113b7b6a3d343&auto=format&fit=crop&w=1050&q=80) no-repeat center center fixed;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Oleo Script', cursive;
}


body:before {
    content: '';
    width: 100%;
    height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right,#410607,#0099F7,#410607)!important;
  opacity: .5; 

  }


.keys {
  display: flex;
  flex: 1;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.key {
  border: .4rem solid black;
  border-radius: 1.1rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ff0065;
  box-shadow: 0 0 1rem #ff0065;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

h1{
  font-size: 150px;
    padding-top: 0px;
    margin-bottom: 0;
    color:white !important;
  text-align: center;
  text-shadow: 0 0 20px #6A82FB;
}
